[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>


<div class="section" id="vue-target" v-cloak>
  <!-- Put here your Vue.js template -->
    
   <div class="box has-background-light	">

    <!-- Enables a user to enter the name of their recipe -->
    <div class="block">
        <div class="columns">
            <div class="column is-one-third">
                <div class="columns is-gapless">
                    <div class="column">
                        <p><b>Recipe Name: </b>  </p>
                        <input class="input" type="text" placeholder="Enter the name of your recipe." v-model="recipe_name" 
                            :class="{
                                'is-static': curr_mode === 'view',
                            }"
                            :readonly="curr_mode === 'view'"> 
                    </div>
                </div>
            </div>    
        </div>   
    </div>
   
    <!-- Enables a user to enter instructions for their recipe -->
    <div class="block">
        <p><b>Instructions: </b>  </p>
        <textarea class="textarea" placeholder="Provide instructions to prepare your recipe." v-model="instructions"
                    :readonly="curr_mode === 'view'"
                    :disabled="curr_mode === 'view'">
        </textarea>
    </div>

    <!-- Enables a user to enter ingredients for their recipe -->
    <div class="block">
        <div class="columns">
            <div class="column is-three-fifths">
                <div class="columns is-gapless">
                    <div class="column">
                        <p><b>Ingredients: </b> </p>
                        <div v-if="curr_mode === 'edit'" class="columns">
                            <div class="column is-half">
                                <input class="input" type="text" placeholder="List an ingredient." v-model="curr_ingredient">
                            </div>
                            
                            <!-- Enables a user to enter a quantity for their ingredient and displays that quantity -->
                            <div class="column">
                                <button class="button" @click="inc_curr_quantity()">
                                    <span class="icon"><i class="fa fa-arrow-up" aria-hidden="true"></i></span>
                                </button>
                                <span class="mx-4 mt-1">{{curr_quantity}}</span>
                                <button class="button" @click="dec_curr_quantity()">    
                                    <span class="icon"><i class="fa fa-arrow-down" aria-hidden="true"></i></span>
                                </button>
                            </div>
                           
                            <!-- Button to add an ingredient to the list -->
                            <div class="column">
                                <!-- If an ingredient is entered, with an amount greater than 0, allow the user to enter the ingredient -->
                                <button v-if="curr_ingredient.length == 0 || curr_quantity == 0" class="button has-background-grey-light">
                                    <span class="icon"><i class ="fa fa-plus fa-fw"></i></span>
                                </button>
                                <button v-else class="button is-primary" @click="add_ingredient()">
                                    <span class="icon"><i class ="fa fa-plus fa-fw"></i></span>
                                </button>
                            </div>
                        </div>
                        <!-- Displays the user's ingredient list -->
                        <div class="columns">
                            <div class="column">
                                <div v-for="i in ingredients">
                                    <div class="columns">
                                        <div class="column is-four-fifths">
                                            <p>{{i._idx + 1}}) {{i.ingredient}} ({{i.quantity}})</p>
                                        </div>
                                        <div class="column">
                                             <button class="delete" @click=delete_ingredient(i._idx)></button>
                                        </div>       
                                    </div>
                                </div>        
                            </div>
                            <div class="column"></div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>   
    </div>

    <!-- Enables the user to enter the estimated time for their recipe -->
    <div class="block">
        <div class="columns">
            <div class="column is-one-quarter">
                <div class="columns is-gapless">
                    <div class="column">
                        <p><b>Estimated time: </b> </p>
                        <input class="input" type="text" placeholder="Enter the estimated time." v-model="estimated_time" 
                                :class="{
                                    'is-static': curr_mode === 'view',
                                }"
                                :readonly="curr_mode === 'view'">
                    </div>
                </div>
            </div>    
        </div>   
    </div>

    <!-- Enables the user to set tags for their recipe -->
    <div class="block">
        <div class="columns">
            <div class="column is-half">
                <div class="columns is-gapless">
                    <div class="column">
                        <p><b>Tags: </b> </p>
                        <button v-if="!is_breakfast" class="button" @click="set_breakfast(true)">Breakfast</button>
                        <button v-else class="button is-success" @click="set_breakfast(false)">Breakfast</button>
                        <button v-if="!is_lunch" class="button" @click="set_lunch(true)">Lunch</button>
                        <button v-else class="button is-success" @click="set_lunch(false)">Lunch</button>
                        <button v-if="!is_dinner" class="button" @click="set_dinner(true)">Dinner</button>
                        <button v-else class="button is-success" @click="set_dinner(false)">Dinner</button>
                        <div v-if="curr_mode === 'edit'" class="columns mt-1">
                            <div class="column">
                                <input class="input" type="text" placeholder="Enter a tag." v-model="curr_tag"> 
                            </div>
                            <div class="column">
                                <button v-if="curr_tag.length == 0" class="button has-background-grey-light">
                                    <span class="icon"><i class ="fa fa-plus fa-fw"></i></span>
                                </button>
                                <button v-else class="button is-primary" @click="add_tag()">
                                    <span class="icon"><i class ="fa fa-plus fa-fw"></i></span>
                                </button>
                            </div>
                        </div>
                        <!-- Displays the user's tag list -->
                        <div class="columns">
                            <div class="column">
                                <div v-for="t in tags">
                                    <div class="columns">
                                        <div class="column is-four-fifths">
                                            <p>{{t._idx + 1}}) {{t.tag}}</p>
                                        </div>
                                        <div class="column">
                                             <button class="delete" @click=delete_tag(t._idx)></button>
                                        </div>       
                                    </div>
                                </div>        
                            </div>
                            <div class="column"></div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>   
    </div>

    
    <div v-if="curr_mode === 'edit'" class="columns">
        <div class="column">
            <div v-if="!thumbnail">
                <p class="control">
                  <div class="file is-info">
                    <label class="file-label">
                      <input class="file-input" type="file"
                             accept=".jpg, .png, .jpeg, .gif, .bmp, .tif, .tiff|image/*"
                             @change="upload_image($event)">
                      <span class="file-cta">
                        <span class="file-label">
                          <span><i class="fa fa-upload"></i></span>
                        </span>
                      </span>
                    </label>
                  </div>
                </p>
            </div>
            <div v-if="thumbnail">
                <img width="150" :src="thumbnail" />
                <button class="delete" @click="reset_thumbnail()"></button>
            </div>
        </div>
    </div>
    <!-- Enables a user to submit or cancel their recipe-->
    <div v-if="curr_mode === 'edit'" class="columns">
        <div class="column is-four-fifths">
        </div>
        <div class="column">
            <div class="columns">
                <!-- If all the fields are filled out appropriately, allow the user to submit their recipe -->
                <div v-if="recipe_name.length > 0 && instructions.length > 0 && 
                    ingredients.length > 0 && estimated_time.length > 0 && 
                    (is_breakfast || is_lunch || is_dinner)" class="column">
                    <button class="button is-primary" @click=add_recipe()>Submit</button>
                </div>
                <div v-else class="column">
                    <button class="button has-background-grey-light">Submit</button>
                </div>
                <div class="column">
                    <button @click="back_to_index()" class="button is-warning">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Had to comment this out for now, because I couldnt test the likes count due to vue reactivity.
            Enables a user to like or dislike a recipe on viewing mode
    <div v-if="curr_mode === 'view'" class="columns">
        <div class="column is-three-fifths"></div>
        <div class="column">
            <div class="columns">
                <div class="column"> 
                    <button v-if="liked" class="button is-success" @click="unlike_recipe()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                    <button v-else class="button" @click="like_recipe()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                    <span v-if="num_likes > 0" class="mx-4 mt-1 has-text-success">{{num_likes}}</span>
                    <span v-if="num_likes < 0" class="mx-4 mt-1 has-text-danger">{{num_likes}}</span>
                    <span v-if="num_likes == 0" class="mx-4 mt-1">{{num_likes}}</span>
                    <button v-if="disliked" class="button is-danger" @click="undislike_recipe()">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                    <button v-else class="button" @click="dislike_recipe()">
                        <i class="fa fa-minus" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div> -->
    
   </div>
    
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let add_recipe_url = "[[=XML(add_recipe_url)]]";
  let upload_thumbnail_url = "[[=XML(upload_thumbnail_url)]]";
  let back_to_index_url = "[[=XML(back_to_index_url)]]"
</script>
<script src="js/display.js"></script>
[[end]]
[[=SCRIPT('let recipe = ' + recipe, _type='text/javascript')]]
